{% load i18n %}{% autoescape off %}
{% trans "Password Reset for" %} {{ site_name }}

{% trans "Hello" %} {{ user.callsign }},

{% if admin_forced %}
{% trans "An administrator has initiated a password reset for your BOTA account." %}
{% else %}
{% trans "You're receiving this email because you requested a password reset for your BOTA account." %}
{% endif %}

{% trans "Please click the link below to set a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "This link is valid for 5 minutes only and can only be used once." %}

{% if admin_forced %}
{% trans "If you have any questions about this password reset, please contact the BOTA administrators." %}
{% else %}
{% trans "If you didn't request this password reset, please ignore this email. Your password will remain unchanged." %}
{% endif %}

{% trans "For security reasons, this link will expire shortly." %}

73!
SP_BOTA Team

---
{% trans "This is an automated message. Please do not reply to this email." %}
{% endautoescape %}
